{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}
{% load utils %}

{% block title %}
  {% trans "Staff" context "Dashboard staff members list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_staff_class %}active{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a class="btn-fab-default waves-effect waves-light"
      title="{% trans "Add Representatives" context "Staff members list add button text" %}"
      href="{% url 'dashboard:add-repr' college_data.id %}">
      <svg data-src="{% static "dashboard/images/add.svg" %}" />
    </a>
  </div>
{% endblock %}



{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Staff" context "Dashboard staff members list" %}
    </li>
  </ul>
{% endblock %}

{%block content%}

<h3 class="card-title"><a href="{{college_data.collegeURL}}" target="_blank">{{college_data.collegeName}}</a> : {{college_data.collegeLocation}} <a href="{{college_data.collegeLocationURL}}" target="_blank">&#8599;</a></h3>
<br>
<hr>
<br>
<h3 class="card-title">Representaives Detail</h3>



<div class="row">
  <div class="col s12 l9">
      <div class="card">
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
              <tr>
                  <th>User</th>
                  <th>Contact No</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
            </thead>
            <tbody>
                {%for data in repr_data%}
                        <tr>
                          <td><a href="/dashboard/university/open-repr/{{data.id}}/">{{data.user}}</a></td>
                          <td>{{data.contactNo}}</td>
                          <td><a href="/dashboard/university/edit-repr/{{data.id}}/{{college_data.id}}">&#9997;</a></td>
                          <td><a href="/dashboard/university/del-repr/{{data.id}}/{{college_data.id}}">&#10005;</a></td>
                        </tr>
                {%endfor%}
            </tbody>
          </table>
        </div>
      </div>



{%endblock%}